//COLOR BLUE
$color-blue:#01579b;

//COLOR GREEN
$color-green:#009688;
$color-green-darken-1:#00897b;
$color-green-lighten-1:#26a69a;

//COLOR RED
$color-red: #f44336;
$color-red-darken-1:#e53935;
$color-red-lighten-1:#ef5350;


//COLOR GREY
$color-grey:#f5f5f5f5;